{
    "printWidth": 120,
    "quoteProps": "consistent",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": ["", "<THIRD_PARTY_MODULES>", "", "^[.]", ""],
    "importOrderTypeScriptVersion": "5.0.0",
    "overrides": [
        {
            "files": ["*.md", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
